bs4
datasets
huggingface_hub
langchain
langchain-community
lxml
mlflow
nltk
openpyxl
pdfplumber
pillow
PyPDF2
python-docx
python-pptx
pytesseract
qdrant-client
sentencepiece
sentence-transformers
striprtf
torch
transformers
trl